@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Tus estilos personalizados globales aquí */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Alexandria", sans-serif;
}

html {
  background-color: #f4f4f4;
}
