/* Estilo general del contenedor de la sección */
body {
  background-color: #f1edff;
}
.main-container {
  margin: 0px;
  padding: 0px;
}
.contenedor-slider {
  padding: 10px;
}

.consultoria-container {
  margin: 10px;
  font-family: "Arial", sans-serif;
}

.consultoria-header {
  text-align: center;
  margin-bottom: 10px;
}

.titulo-consultoria {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.descripcion-consultoria {
  font-size: 16px;
  color: #555;
  margin-top: 10px;
}

/* Contenedor de tarjetas de consultoría */
.consultoria-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Tarjeta individual de consultoría */
.consultoria-card {
  width: 30%;
  min-width: 280px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

/* Efecto hover para las tarjetas */
.consultoria-card:hover {
  transform: translateY(-5px);
}

.consultoria-link {
  text-decoration: none;
  color: inherit;
}

.consultoria-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.consultoria-info {
  padding: 15px;
}

.consultoria-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.consultoria-profesor {
  font-size: 14px;
  color: #777;
}

/* Estilos para el menú de opciones */
.opciones-menu {
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-opciones {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #555;
}

.menu-desplegable {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.menu-desplegable button {
  padding: 10px;
  border: none;
  background: transparent;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
}

.menu-desplegable button:hover {
  background-color: #f0f0f0;
}
