/* Variables de color */
:root {
  --primaryFooter: #003a88;
  --secondary: #c5b9ba;
  --secondary2: #d4c8c8;
  --accent: #4b3d3d;
  --text-light: #ffffff;
  --dark: #2c3e50;
}

.contenedor-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--primaryFooter);
}

.subcontenedor-bloque1-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.subcontenedor-bloque2-footer {
  width: 95%;
  padding: 0 20px 40px 20px;
}

.subcontenedor-bloque2-footer a {
  border-left: 2px solid var(--text-light);
  padding-left: 10px;
  color: var(--text-light);
  margin-left: auto;
  display: block;
  width: fit-content;
  margin-right: 30px;
}

.subcontenedor-footer-info {
  width: 30%;
  min-width: 250px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subcontenedor-footer-info p {
  /* border: 2px solid red; */
  padding: 10px 20px;
  color: var(--text-light);
  font-weight: 600;
  font-size: 18px;
}

.contenedor-footer-enlaces {
  width: 70%;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-enlaces {
  width: 50%;
  min-width: 200px;
}

.footer-iconos {
  width: 50%;
  padding: 20px;
  min-width: 200px;
}

.subcontenedor-footer-enlaces {
  width: 100%;
  padding: 20px;
}

.sub-subcontenedor-footer-enlaces {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.subcontenedor-footer-enlaces a {
  color: var(--text-light);
  text-align: center;
  font-size: 18px;
}

.footer-enlaces-bloque1,
.footer-enlaces-bloque2 {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.slogan-footer p,
.footer-enlaces-bloque1 a,
.footer-enlaces-bloque2 a {
  font-weight: 200;
  color: var(--text-light);
}

.titulo-footer1,
.titulo-footer2 {
  font-weight: 900;
  font-size: 18px;
  color: var(--text-light);
  text-align: center;
}

.footer-iconos-redes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: var(--text-light);
}

.footer-iconos-redes a {
  width: 40px;
  height: 40px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icono-footer:hover {
  color: #fcbe06;
  transition: 0.3s ease;
}

/* ------------------ RESPONSIVE ------------------ */
@media (max-width: 768px) {
  .contenedor-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--primaryFooter);
  }

  .subcontenedor-bloque1-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subcontenedor-footer-info,
  .subcontenedor-footer-info .logo-footer h2 {
    align-items: center;
    justify-content: center;
    justify-content: center;
    margin: auto;
  }
  .subcontenedor-footer-info .logo-footer h2 {
    padding-right: 20px;
  }

  .subcontenedor-footer-info,
  .contenedor-footer-enlaces {
    width: 100%;
    text-align: center;
  }

  .footer-enlaces,
  .footer-iconos {
    width: 100%;
    padding: 10px 0;
  }

  .footer-iconos-redes a {
    width: 40px;
    height: 40px;
    margin: 5px;
  }

  .subcontenedor-bloque2-footer a {
    margin: 20px auto 0;
    width: auto;
    border-left: none;
    border-top: 2px solid var(--text-light);
    padding-top: 10px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .contenedor-footer {
    background-color: var(--primaryFooter);
  }

  .subcontenedor-footer-info,
  .subcontenedor-footer-info .logo-footer h2 {
    align-items: center;
    justify-content: center;
    justify-content: center;
    margin: auto;
  }

  .subcontenedor-footer-info .logo-footer h2 {
    padding-right: 20px;
  }

  .subcontenedor-footer-info p {
    font-size: 16px;
    padding: 10px 10px;
  }

  .subcontenedor-footer-enlaces a {
    font-size: 16px;
  }

  .titulo-footer1,
  .titulo-footer2 {
    font-size: 16px;
  }

  .footer-iconos-redes {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
