/* Variables de color */
:root {
  --primaryHeader: #aac2fd;
  --primaryHeader2: #5184b6;
  --secondaryHeader: #003a88;
  --secondaryHeader2: #0c2461;
  --secondaryHeader3: #01005d;
  --accentHeader: #e74c3c;
  --text-lightHeader: #ffffff;
  --text-darkHeader: #000000;
}
/* Contenedor principal */
.top-header {
  position: relative;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  overflow: hidden;
}

/* Video de fondo */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: contrast(140%) brightness(90%);
}

/* Header Main */
.header-main {
  position: relative;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease;
}

/* Div1: Contenedor del título y el botón */
.TConsulting {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease;
}

.content {
  text-align: center;
  color: var(--text-lightHeader);
}

h1 .title-line-Header {
  display: block;
  margin: auto 30px;
  font-size: 8rem;
  margin: 0;
  font-weight: 900;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  mix-blend-mode: difference !important;
  animation: fadeIn 2s ease-in-out;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.subtitulo-header {
  font-size: 1.8rem;
  color: var(--text-lightHeader);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  animation: fadeIn 2.5s ease-in-out;
}

.button {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 1rem;
  color: var(--text-lightHeader);
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--text-lightHeader);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: fadeIn 2.5s ease-in-out;
}

.button:hover {
  background-color: rgba(133, 94, 94, 0.2);
  transform: scale(1.05);
}

html {
  scroll-behavior: smooth;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.button {
  animation: bounce 2.5s infinite ease-in-out; /* Aumenté la duración a 2.5s */
}

@media screen and (max-width: 17827px) {
  h1 .title-line-Header {
    font-size: 6.5rem;
  }
}
@media screen and (max-width: 1764px) {
  h1 .title-line-Header {
    font-size: 6.5rem;
  }
}

@media screen and (max-width: 1536px) {
  h1 .title-line-Header {
    font-size: 6rem;
  }
}
@media screen and (max-width: 1536px) {
  h1 .title-line-Header {
    font-size: 5.5rem;
  }
}

@media screen and (max-width: 1395px) {
  h1 .title-line-Header {
    font-size: 5.5rem;
  }
}

@media screen and (max-width: 1314px) {
  h1 .title-line-Header {
    font-size: 5rem;
  }
}

@media screen and (max-width: 1180px) {
  h1 .title-line-Header {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 1080px) {
  h1 .title-line-Header {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 1024px) {
  h1 .title-line-Header {
    font-size: 4.3rem;
  }
}

@media screen and (max-width: 997px) {
  h1 .title-line-Header {
    font-size: 4.3rem;
  }
  .subtitulo-header {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 970px) {
  h1 .title-line-Header {
    font-size: 4rem;
  }
}
@media screen and (max-width: 938px) {
  h1 .title-line-Header {
    font-size: 3.5em;
  }
}
@media screen and (max-width: 914px) {
  h1 .title-line-Header {
    font-size: 60px;
  }
  h3 {
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  h1 .title-line-Header {
    font-size: 50px;
  }

  h3 {
    font-size: 20px;
  }

  /* #formulario {
    width: 100vh;
  } */
}
