.Metodologia {
  background-color: #ebb403;
  /* border: 2px solid blue; */
  padding: 120px;
}

.Metodologia-contenedor {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
}

.Metodologia-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Metodologia-titulo {
  color: #f4f4f4;
  font-size: 80px;
  width: 80%;
  text-align: center;
}
.Metodologia-texto {
  color: #f4f4f4;
  margin-top: 50px;
  width: 60%;
  font-size: 1.5rem;
}

.Metodologia-imagen {
  width: 50%;
  padding: 50px;
  /* border: 5px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1445px) {
  .Metodologia {
    /* border: 2px solid blue; */
    padding: 60px 30px;
  }

  .Metodologia-contenedor {
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Metodologia-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Metodologia-titulo {
    color: #f4f4f4;

    font-size: 50px;
    width: 55%;
    text-align: center;
  }
  .Metodologia-texto {
    margin-top: 40px;
    width: 50%;
    font-size: 1.5rem;
    text-align: justify;
  }

  .Metodologia-imagen {
    width: 100%;
    /* border: 5px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
