/* Variables de color */
:root {
  --primary: #aac2fd;
  --primary2: #5184b6;
  --secondary: #003a88;
  --secondary2: #0c2461;
  --secondary3: #01005d;
  --accent: #e74c3c;
  --text-light: #ffffff;
  --text-dark: #000000;
}
/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(34, 29, 29, 0.51);
  backdrop-filter: blur(5px);
  position: fixed; /* Fijar el navbar en la parte superior */
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; /* Asegurar que esté por encima de todo */
  width: 100%;
  box-sizing: border-box;
}

.NavBar-nombre-empresa {
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  font-weight: 800;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease;
  font-weight: 600;
}

.nav-links a:hover {
  color: #ffa902;
}

.nav-icon i {
  color: #ffffff;
  font-size: 1.5em;
  cursor: pointer;
  transition: color 0.3s ease;
  padding-left: 20px;
}

.nav-icon i:hover {
  color: var(--secondary2);
}

/* Menú desplegable */
.menu-desplegable {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100vh;
  background-color: #aac2fd;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  transition: right 0.3s ease;
  z-index: 200; /* Asegurar que esté por encima del formulario */
}

/* Agregar la clase active cuando el menú está abierto */
.menu-desplegable.active {
  right: 0;
}

.menu-desplegable a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  padding: 15px 15px 15px 20px !important;
  transition: color 0.3s ease;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.menu-desplegable {
  padding-top: 10px;
}

.cerrar-opcion-menu-desplegable {
  margin-bottom: 60px;
  display: block;
}

.menu-desplegable a {
  padding: 5px;
  min-width: 100%;
  display: flex;
  align-items: center;
}
.menu-desplegable a:hover {
  color: white;
  background-color: #232e60;
}

@media screen and (max-width: 768px) {
  .NavBar-nombre-empresa {
    font-size: 15px;
    font-weight: 800;
  }
  .nav-links a {
    font-size: 15px;
    padding: 0px;
    font-weight: 600;
  }
}

@media screen and (max-width: 430px) {
  .NavBar-nombre-empresa {
    font-size: 12px;
    font-weight: 800;
  }
  .nav-links a {
    font-size: 10px;
    padding: 0px;
    font-weight: 600;
  }
}
