.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* border: 2px solid red; */
  padding: 10% 10% 0% 5%;
  width: 100%;
}

.div1 {
  /* border: 2px solid green; */
  width: 90%;
  grid-area: 1 / 1 / 2 / 5;
  background-color: #fdbe41;
  border-radius: 110px 0px 0px 0px;
  margin: 10px;
}
.div2 {
  grid-area: 2 / 1 / 6 / 2;
  /* border: 2px solid black; */
  width: 40%;
  height: 70%;
  /* display: flex; */
  padding-top: 125%;
  font-size: 50px;
  margin: 10px;
}
.div2 h4 {
  font-size: 50px;
  /* border: 2px solid black; */
  width: 100%;
  height: 100%;
  padding-left: 100%;
  font-weight: 600;
}

.div3 {
  width: 120%;
  height: 70%;
  grid-area: 2 / 2 / 6 / 2;
  background-color: #3b4a8b;
  /* border: 2px solid #3b4a8b; */
  /* background-image: url("https://images.pexels.com/photos/7713176/pexels-photo-7713176.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");  */
  background-image: url("../img/estudiantes.jpg");
  background-size: cover; /* Ajusta la imagen para cubrir el div */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repeticiones */
  margin: 10px;
  padding: 160% 10% 10% 50%;
  color: #f4f4f4;
  font-size: 25px;
  margin-left: -110px;
  filter: contrast(100%) brightness(85%);
}

.sub-div3 {
  width: 100%;
  height: 100%;
  background-color: red;
}

.div4 {
  width: 80%;
  height: 65%;
  grid-area: 2 / 3 / 4 / 5;
  background-color: #cfa85a;
  /* background-image: url("https://images.pexels.com/photos/3184302/pexels-photo-3184302.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");  */
  background-image: url("../img/organizaciones.webp"); /* background-image: url("https://images.pexels.com/photos/3184302/pexels-photo-3184302.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");  */
  background-size: cover; /* Ajusta la imagen para cubrir el div */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repeticiones */
  margin: 2%;
  margin-bottom: 30px;
  padding: 30px;
  color: #f4f4f4;
  font-size: 25px;
  filter: contrast(100%) brightness(85%);
}
.div5 {
  width: 80%;
  height: 65%;
  grid-area: 4 / 3 / 6 / 5;
  /* background-image: url("https://images.pexels.com/photos/3184302/pexels-photo-3184302.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");  */
  background-image: url("../img/profesionales.webp");
  background-size: cover; /* Ajusta la imagen para cubrir el div */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repeticiones */
  margin: 5% 2% 10%;
  padding: 30px;
  margin-top: -15%;
  color: #f4f4f4;
  font-size: 25px;
  filter: contrast(100%) brightness(85%);
}

.div6 {
  width: 130%;
  height: 76%;
  grid-area: 1 / 5 / 6 / 6;
  /* border: 2px solid purple; */
  background-image: url("../img/contactanos.jpg");
  background-size: cover; /* Ajusta la imagen para cubrir el div */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repeticiones */
  margin: 10px 10px 10px;
  padding: 227% 10% 10% 60%;
  margin-left: -25%;
  filter: contrast(100%) brightness(85%);
}

.Nosotros-titulo {
  color: #f4f4f4;
  padding: 50px;
  text-align: center;
  font-size: 80px;
  position: relative;
  cursor: pointer;
  font-weight: 600;
}

.Nosotros-titulo::after {
  content: "Somos la unidad de Latam Business Consulting especializada en asesorar investigaciones académicas con un enfoque en sostenibilidad, innovación y excelencia.";
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  background-color: #fdbe41;
  color: white;
  border-radius: 110px 0px 0px 0px;
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  box-sizing: border-box;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  transition-delay: 0.3s; /* ⏳ Retardo al aparecer */
  padding: 80px;
}

.Nosotros-titulo:hover::after {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.2s; /* ⏳ Retardo al desaparecer */
}

.div3,
.div4,
.div5 {
  position: relative; /* Necesario para posicionar el ::after */
  overflow: hidden;
}

.div3::after,
.div4::after,
.div5::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 29, 29, 0.51);
  backdrop-filter: blur(15px);
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  box-sizing: border-box;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  transition-delay: 0.3s; /* ⏳ Retardo al aparecer */
}

.div3:hover::after,
.div4:hover::after,
.div5:hover::after {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.2s; /* ⏳ Retardo al desaparecer */
}

.div3::after {
  content: "1. Organizaciones este es un mensaje de prueba";
}

.div4::after {
  content: "2. Organizaciones este es un mensaje de prueba";
}

.div5::after {
  content: "3. Organizaciones este es un mensaje de prueba";
}

.Nosotros-subtitulo {
  rotate: 270deg;
  /* margin: 2px solid red; */
  font-size: 20px;
  display: flex;
  align-items: center;
}

.Nosotros-imagen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitulo-efecto {
  background-color: rgba(34, 29, 29, 0.51);
  backdrop-filter: blur(1px);
  font-size: 30px;
  color: #f4f4f4;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 1435px) {
  .Nosotros-titulo {
    padding: 50px;
    font-size: 50px;
  }
  .div1 {
    width: 81%;
    border-radius: 110px 0px 0px 0px;
    margin: 10px;
  }
  .div2 {
    width: 40%;
    height: 50%;
    padding-top: 125%;
    font-size: 50px;
    margin: 10px;
  }
  .div2 h4 {
    font-size: 50px;
    width: 100%;
    height: 100%;
    padding-left: 100%;
  }

  .div3 {
    width: 140%;
    height: 52%;
    margin: 10px;
    padding: 145% 10% 10% 65%;
    font-size: 25px;
    margin-left: -110px;
    filter: contrast(100%) brightness(85%);
  }

  .sub-div3 {
    width: 100%;
    height: 100%;
    background-color: red;
  }

  .div4 {
    width: 65%;
    height: 50%;
    margin: 2%;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 25px;
    margin-left: -1%;
    filter: contrast(100%) brightness(85%);
  }
  .div5 {
    width: 65%;
    height: 50%;
    margin: 5% 2% 10%;
    padding: 20px;
    margin-top: -35%;
    margin-left: -1%;
    font-size: 25px;
    filter: contrast(100%) brightness(85%);
  }

  .div6 {
    width: 170%;
    height: 61%;
    margin: 10px 10px 10px;
    padding: 230% 10% 10% 90%;
    margin-left: -55%;
  }
  .subtitulo-efecto {
    font-size: 20px;
  }
}
@media screen and (max-width: 1264px) {
  .Nosotros-titulo {
    padding: 50px;
    font-size: 50px;
  }
  .div1 {
    width: 81%;
    border-radius: 110px 0px 0px 0px;
    margin: 10px;
  }
  .div2 {
    width: 40%;
    height: 50%;
    padding-top: 125%;
    font-size: 50px;
    margin: 10px;
  }
  .div2 h4 {
    font-size: 50px;
    width: 100%;
    height: 100%;
    padding-left: 100%;
  }

  .div3 {
    width: 140%;
    height: 52%;
    margin: 10px;
    padding: 130% 10% 10% 80%;
    font-size: 25px;
    margin-left: -110px;
    filter: contrast(100%) brightness(85%);
  }

  .sub-div3 {
    width: 100%;
    height: 100%;
    background-color: red;
  }

  .div4 {
    width: 65%;
    height: 50%;
    margin: 2%;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 25px;
    margin-left: -1%;
    filter: contrast(100%) brightness(85%);
  }
  .div5 {
    width: 65%;
    height: 50%;
    margin: 5% 2% 10%;
    padding: 20px;
    margin-top: -38%;
    margin-left: -1%;
    font-size: 25px;
    filter: contrast(100%) brightness(85%);
  }

  .div6 {
    width: 170%;
    height: 61%;
    margin: 10px 10px 10px;
    padding: 215% 10% 10% 105%;
    margin-left: -55%;
  }
  .subtitulo-efecto {
    font-size: 20px;
  }
}
@media screen and (max-width: 1264px) {
  .Nosotros-titulo {
    padding: 50px;
    font-size: 50px;
  }
  .div1 {
    width: 81%;
    border-radius: 110px 0px 0px 0px;
    margin: 10px;
  }
  .div2 {
    width: 40%;
    height: 50%;
    padding-top: 125%;
    font-size: 50px;
    margin: 10px;
  }
  .div2 h4 {
    font-size: 50px;
    width: 100%;
    height: 100%;
    padding-left: 100%;
  }

  .div3 {
    width: 140%;
    height: 52%;
    margin: 10px;
    padding: 150% 10% 10% 60%;
    font-size: 25px;
    margin-left: -110px;
    filter: contrast(100%) brightness(85%);
  }

  .sub-div3 {
    width: 100%;
    height: 100%;
    background-color: red;
  }

  .div4 {
    width: 65%;
    height: 50%;
    margin: 2%;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 25px;
    margin-left: -2%;
    filter: contrast(100%) brightness(85%);
  }
  .div5 {
    width: 65%;
    height: 50%;
    margin: 5% 2% 10%;
    padding: 20px;
    margin-top: -38%;
    margin-left: -2%;
    font-size: 25px;
    filter: contrast(100%) brightness(85%);
  }

  .div6 {
    width: 170%;
    height: 61%;
    margin: 10px 10px 10px;
    padding: 235% 10% 10% 90%;
    margin-left: -65%;
  }
  .subtitulo-efecto {
    font-size: 20px;
  }
}
@media screen and (max-width: 1229px) {
  .Nosotros-titulo {
    padding: 50px;
    font-size: 50px;
  }
  .div1 {
    width: 81%;
    border-radius: 110px 0px 0px 0px;
    margin: 10px;
  }
  .div2 {
    width: 40%;
    height: 50%;
    padding-top: 125%;
    font-size: 50px;
    margin: 10px;
  }
  .div2 h4 {
    font-size: 50px;
    width: 100%;
    height: 100%;
    padding-left: 100%;
  }

  .div3 {
    width: 140%;
    height: 52%;
    margin: 10px;
    padding: 160% 10% 10% 60%;
    font-size: 25px;
    margin-left: -110px;
    filter: contrast(100%) brightness(85%);
  }

  .sub-div3 {
    width: 100%;
    height: 100%;
    background-color: red;
  }

  .div4 {
    width: 65%;
    height: 50%;
    margin: 2%;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 25px;
    margin-left: -5%;
    filter: contrast(100%) brightness(85%);
  }
  .div5 {
    width: 65%;
    height: 50%;
    margin: 5% 2% 10%;
    padding: 20px;
    margin-top: -40%;
    margin-left: -5%;
    font-size: 25px;
    filter: contrast(100%) brightness(85%);
  }

  .div6 {
    width: 170%;
    height: 61%;
    margin: 10px 10px 10px;
    padding: 250% 10% 10% 80%;
    margin-left: -55%;
  }
  .subtitulo-efecto {
    font-size: 20px;
  }
}

@media screen and (max-width: 1177px) {
  .Nosotros-titulo {
    padding: 50px;
    font-size: 50px;
  }
  .div1 {
    width: 81%;
    border-radius: 110px 0px 0px 0px;
    margin: 10px;
  }
  .div2 {
    width: 40%;
    height: 50%;
    padding-top: 125%;
    font-size: 50px;
    margin: 10px;
  }
  .div2 h4 {
    font-size: 50px;
    width: 100%;
    height: 100%;
    padding-left: 100%;
  }

  .div3 {
    width: 140%;
    height: 52%;
    margin: 10px;
    padding: 170% 10% 10% 50%;
    font-size: 25px;
    margin-left: -110px;
    filter: contrast(100%) brightness(85%);
  }

  .sub-div3 {
    width: 100%;
    height: 100%;
    background-color: red;
  }

  .div4 {
    width: 65%;
    height: 50%;
    margin: 2%;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 25px;
    margin-left: -5%;
    filter: contrast(100%) brightness(85%);
  }
  .div5 {
    width: 65%;
    height: 50%;
    margin: 5% 2% 10%;
    padding: 20px;
    margin-top: -43%;
    margin-left: -5%;
    font-size: 25px;
    filter: contrast(100%) brightness(85%);
  }

  .div6 {
    width: 170%;
    height: 61%;
    margin: 10px 10px 10px;
    padding: 270% 10% 10% 75%;
    margin-left: -55%;
  }
  .subtitulo-efecto {
    font-size: 20px;
  }
}
@media screen and (max-width: 1126px) {
  .Nosotros-titulo {
    padding: 50px;
    font-size: 50px;
  }
  .div1 {
    width: 81%;
    border-radius: 110px 0px 0px 0px;
    margin: 10px;
  }
  .div2 {
    width: 40%;
    height: 50%;
    padding-top: 125%;
    font-size: 50px;
    margin: 10px;
  }
  .div2 h4 {
    font-size: 50px;
    width: 100%;
    height: 100%;
    padding-left: 100%;
  }

  .div3 {
    width: 140%;
    height: 52%;
    margin: 10px;
    padding: 170% 10% 10% 50%;
    font-size: 25px;
    margin-left: -110px;
    filter: contrast(100%) brightness(85%);
  }

  .sub-div3 {
    width: 100%;
    height: 100%;
    background-color: red;
  }

  .div4 {
    width: 68%;
    height: 50%;
    margin: 2%;
    margin-bottom: 30px;
    padding: 5px 40px 0px 0px;
    font-size: 25px;
    margin-left: -8%;
    filter: contrast(100%) brightness(85%);
  }
  .div5 {
    width: 68%;
    height: 50%;
    margin: 5%;
    padding: 5px 40px 0px 0px;
    margin-top: -43%;
    margin-left: -8%;
    font-size: 25px;
    filter: contrast(100%) brightness(85%);
  }

  .div6 {
    width: 170%;
    height: 61.5%;
    margin: 10px 10px 10px;
    padding: 270% 10% 10% 70%;
    margin-left: -55%;
  }

  .subtitulo-efecto {
    font-size: 20px;
  }
}

@media screen and (max-width: 1043px) {
  .Nosotros-titulo {
    padding: 50px;
    font-size: 40px;
  }

  .div1 {
    width: 82%;
  }

  .Nosotros-subtitulo {
    font-size: 30px !important;
    padding: 1% 45% 45% 60% !important;
    margin: 0px 0px 30px 0px !important;
  }

  .div3 {
    padding: 160% 20% 10% 50%;
    font-size: 25px;
    margin-left: -100px;
  }

  .div4 {
    width: 70%;
    height: 50%;
    margin-left: -3%;
    padding: 5% 0% 0% 2%;
  }
  .div5 {
    width: 70%;
    height: 50%;
    margin-top: -40%;
    margin-left: -3%;
    padding: 5% 0% 0% 2%;
  }

  .div6 {
    width: 170%;
    height: 61.5%;
    margin: 10px 10px 10px;
    padding: 255% 10% 10% 75%;
    margin-left: -55%;
  }

  .Nosotros-titulo::after {
    padding: 50px;
  }
}
@media screen and (max-width: 958px) {
  .Nosotros-titulo {
    padding: 50px;
    font-size: 40px;
  }

  .Nosotros-subtitulo {
    font-size: 30px !important;
    padding: 1% 40% 45% 60% !important;
    margin: 0px 0px 30px 0px !important;
  }

  .div3 {
    padding: 175% 20% 10% 45%;
    font-size: 25px;
    margin-left: -100px;
  }

  .div4 {
    width: 70%;
    height: 50%;
    margin-left: -5%;
    padding: 5% 0% 0% 2%;
  }
  .div5 {
    width: 70%;
    height: 50%;
    margin-top: -45%;
    margin-left: -5%;
    padding: 5% 0% 0% 2%;
  }

  .div6 {
    width: 170%;
    height: 61%;
    margin: 10px 10px 10px;
    padding: 275% 10% 10% 65%;
    margin-left: -55%;
  }

  .Nosotros-titulo::after {
    padding: 50px;
  }
}
