.Pilares {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between; /* Distribuye los elementos uniformemente */
  flex-wrap: wrap; /* Permite que los elementos bajen si no caben */
  width: 100%;
  /* border: 2px solid blue; */
  padding: 50px 0px 50px 0px;
}
.Pilares-contenedor {
  display: flex;
  width: 20%; /* Ajusta el ancho para que haya espacio entre ellos */
  /* border: 2px solid red; */
  padding: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: #b1c392;
  opacity: 0.92;
}
.Pilar-contenedor1 {
  margin-left: 10%;
}
.Pilar-contenedor2 {
  margin-left: 10%;
  margin-right: 10%;
}
.Pilar-contenedor3 {
  margin-right: 10%;
}

.Pilares-imagen {
  width: 40%;
  /* border: 2px solid #000000; */
  margin: auto;
}

.Pilares-texto {
  width: 50%; /* Ajusta el tamaño para que se vea mejor */
  /* border: 2px solid #000000; */
  margin: auto;
  text-align: left;
  font-weight: 600;
  color: #304086;
}

@media screen and (max-width: 1799px) {
  .Pilares {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .Pilares-contenedor {
    display: block;
    width: 25%; /* Ajusta el ancho para que haya espacio entre ellos */
    padding: 2px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    /* border: 2px solid red; */
  }

  .Pilares-imagen {
    /* border: 2px solid blue; */
    width: 50%;
    display: flex;
    align-items: center;
    padding-top: 20px;
  }

  .Pilares-texto {
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
  }
}

/* 🟠 ESTILOS RESPONSIVOS (TABLETS Y MÓVILES) */
@media screen and (max-width: 768px) {
  .Pilares {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .Pilares-contenedor {
    display: block;
    width: 25%; /* Ajusta el ancho para que haya espacio entre ellos */
    padding: 2px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    /* border: 2px solid red; */
  }

  .Pilares-imagen {
    /* border: 2px solid blue; */
    width: 50%;
    display: flex;
    align-items: center;
    padding-top: 20px;
  }
  .Pilares-imagen:hover {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 20px;
  }
  .Pilares-texto {
    width: 100%;
    font-size: 11px;
    text-align: center;
    padding: 15px;
  }
}
