.Proposito {
  width: 100%;
  background-color: #f4f4f4;
}

.Proposito-contenedor {
  width: 100%;
  padding: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Proposito-imagen-contenedor {
  flex: 1;
  display: flex;
  justify-content: center;
}

.Proposito-imagen {
  width: 100%;
  max-width: 800px;
  height: 650px;
  border-radius: 200px 0px 0px 0px;
}

.Proposito-info {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.Proposito-titulo {
  color: black;
  font-size: 80px;
  margin-bottom: 20px;
  .Proposito {
    width: 100%;
    background-color: #f4f4f4;
  }

  .Proposito-contenedor {
    width: 100%;
    padding: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Proposito-imagen-contenedor {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .Proposito-imagen {
    width: 100%;
    max-width: 800px;
    height: 650px;
    border-radius: 200px 0px 0px 0px;
  }

  .Proposito-info {
    flex: 1;
    padding: 20px;
    text-align: left;
  }

  .Proposito-titulo {
    color: black;
    font-size: 80px;
    margin-bottom: 20px;
  }

  .Proposito-info p {
    font-size: 25px;
    width: 80%;
    line-height: 1.5;
    padding: 20px;
  }

  .contenedor-opciones {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .Proposito-opciones {
    display: flex;
    width: 50%;
    background-color: #f5db86;
    backdrop-filter: blur(5px);
    padding: 15px;
    justify-content: space-between;
    align-items: center;
  }

  .Proposito-opciones p {
    color: #f4f4f4;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
  }

  .Proposito-opciones a {
    color: #f4f4f4;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    background-color: transparent;
  }

  .overlay {
    position: absolute;
    bottom: 100px;
    left: 30%;
    width: 40%;
    height: auto;
    background-color: #ebb403;
    color: #f4f4f4;
    text-align: center;
    padding: 15px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.92;
  }
}

.Proposito-info p {
  font-size: 25px;
  width: 80%;
  line-height: 1.5;
  padding: 20px;
}
.Proposito-info h2 {
  padding: 20px;
}

/* Opciones */
.contenedor-opciones {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.Proposito-opciones {
  display: flex;
  width: 50%;
  background-color: #f5db86;
  backdrop-filter: blur(5px);
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

.Proposito-opciones p {
  color: #f4f4f4;
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
}

.Proposito-opciones a {
  color: #f4f4f4;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  background-color: transparent;
}

.overlay {
  position: absolute;
  bottom: 60px;
  left: 30%;
  width: 40%;
  height: auto;
  background-color: #ebb403;
  color: #f4f4f4;
  text-align: center;
  padding: 15px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.92;
}

@media screen and (max-width: 1445px) {
  .Proposito {
    width: 100%;
    /* border: 2px solid green; */
  }

  .Proposito-contenedor {
    width: 100%;
    padding: 60px 0px;
    /* border: 2px solid red; */
  }

  .Proposito-imagen {
    width: 100%;
    max-width: 800px;
    height: 650px;
    border-radius: 200px 0px 0px 0px;
  }

  .Proposito-info {
    flex: 1;
    padding: 10px;
    /* border: 2px solid blue; */
    text-align: left;
  }

  .Proposito .Proposito-titulo {
    width: 100%;
    color: black;
    font-size: 40px;
    margin-bottom: 20px;
    padding: 0px;
    text-align: left;
  }

  .Proposito .Proposito-texto {
    width: 100%;
    font-size: 18px;
    text-align: left;
    /* border: 2px solid blue; */
    margin: 0px;
    padding: 0px;
  }

  .Proposito-contenedor {
    width: 100%;
    padding: 60px 30px;
    display: block;
    align-items: center;
    justify-content: space-between;
  }

  .Proposito-imagen-contenedor {
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: 2px solid red; */
  }

  .Proposito-imagen {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .Proposito-info {
    flex: 1;
    padding: 20px;
    text-align: left;
  }

  .Proposito .contenedor-opciones {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  .Proposito .Proposito-opciones {
    display: flex;
    width: 100%;
    padding: 2px;
  }

  .Proposito .Proposito-opciones p {
    font-size: 11px;
    font-weight: bold;
    margin: 10px;
  }

  .Proposito .Proposito-opciones a {
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
  }

  .Proposito .overlay {
    position: absolute;
    bottom: 60px;
    left: 55%;
    width: 50%;
    padding: 15px;
    z-index: 10;
  }
  .overlay {
    width: 40% !important;
  }
}

@media screen and (max-width: 636px) {
  .Proposito .overlay {
    position: absolute;
    bottom: 60px;
    left: 44%;
    width: 50%;
    padding: 15px;
    z-index: 10;
  }
  .overlay {
    width: 50% !important;
  }
}
@media screen and (max-width: 521px) {
  .Proposito .overlay {
    position: absolute;
    bottom: 45px;
    left: 40%;
    width: 50%;
    padding: 15px;
    z-index: 10;
  }
  .overlay {
    width: 55% !important;
  }
}
@media screen and (max-width: 509px) {
  .Proposito .overlay {
    position: absolute;
    bottom: 50px;
    left: 40%;
    width: 50%;
    padding: 15px;
    z-index: 10;
  }
  .overlay {
    width: 55% !important;
  }
}

@media screen and (max-width: 394px) {
  .Proposito .overlay {
    position: absolute;
    bottom: 45px;
    left: 35%;
    width: 50%;
    padding: 15px;
    z-index: 10;
  }
  .overlay {
    width: 60% !important;
  }
}

@media screen and (max-width: 360px) {
  .Proposito .overlay {
    position: absolute;
    bottom: 40px;
    left: 25%;
    width: 50%;
    padding: 15px;
    z-index: 10;
  }
  .overlay {
    width: 70% !important;
  }
}
