/* Variables de color */
:root {
  --primaryProposito: #aac2fd;
  --primaryProposito2: #0c2461;
  --primaryProposito3: #5184b6;
  --secondaryProposito: #003a88;
  --accentProposito: #e74c3c;
  --text-lightProposito: #ecf0f1;
  --text-darkProposito: #000000;
}

/* Contenedor principal */
.Proposito {
  width: 100%;
  background-color: #f4f4f4;
}

/* Contenido principal */
.Proposito-contenedor {
  width: 100%;
  padding: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Proposito-imagen-contenedor {
  flex: 1;
  display: flex;
  justify-content: center;
}

.Proposito-imagen {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 200px 0 0 0;
  object-fit: cover;
}

.Proposito-info {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.Proposito-titulo {
  color: var(--text-darkProposito);
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.Proposito-info p {
  font-size: 1.3rem;
  line-height: 1.6;
  padding: 20px 0;
  width: 65%;
}

.Proposito-info h2 {
  padding: 20px 0;
}

/* Opciones */
.contenedor-opciones {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.Proposito-opciones {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  background-color: #f5db86;
  backdrop-filter: blur(5px);
  padding: 15px;
  justify-content: space-around;
  align-items: center;
}

.Proposito-opciones p,
.Proposito-opciones a {
  color: #f4f4f4;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  text-decoration: none;
}

/* Overlay */
.overlay {
  position: absolute;
  bottom: 100px;
  left: 35%;
  width: 50%;
  height: auto;
  background-color: var(--primaryProposito3);
  color: #f4f4f4;
  text-align: center;
  padding: 15px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.92;
  border-radius: 10px;
}
/* Media Queries para hacer responsive */
@media (max-width: 1435px) {
  .Proposito-info p {
    font-size: 1.3rem;
    line-height: 1.6;
    padding: 20px 0;
    width: 100%;
    text-align: left;
  }
}
@media (max-width: 1024px) {
  .Proposito-contenedor {
    flex-direction: column;
    padding: 60px 20px;
  }

  .Proposito-imagen {
    max-width: 100%;
    height: auto;
    border-radius: 100px 100px 0 0;
  }

  .Proposito-titulo {
    font-size: 2.5rem;
    text-align: center;
  }

  .Proposito-info {
    text-align: center;
  }

  .Proposito-info p {
    width: 100%;
  }

  .Proposito-opciones {
    width: 90%;
    flex-direction: column;
    gap: 10px;
  }

  .overlay {
    width: 70%;
    left: 15%;
    bottom: 30px;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 1210px) {
  .overlay {
    width: 55%;
    left: 25%;
    bottom: 55px;
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: 1137px) {
  .overlay {
    width: 60%;
    left: 20%;
    bottom: 55px;
    flex-direction: row;
    gap: 10px;
  }
}
@media (max-width: 1045px) {
  .overlay {
    width: 65%;
    left: 20%;
    bottom: 55px;
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: 1024px) {
  .overlay {
    width: 65%;
    left: 20%;
    bottom: 25px;
    flex-direction: row;
    gap: 10px;
  }
}
@media (max-width: 970px) {
  .overlay {
    width: 70%;
    left: 15%;
    bottom: 25px;
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: 897px) {
  .overlay {
    width: 75%;
    left: 15%;
    bottom: 25px;
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: 838px) {
  .overlay {
    width: 80%;
    left: 10%;
    bottom: 25px;
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: 786px) {
  .overlay {
    width: 85%;
    left: 8%;
    bottom: 25px;
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: 741px) {
  .overlay {
    width: 90%;
    left: 5%;
    bottom: 25px;
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: 701px) {
  .overlay {
    width: 95%;
    left: 3%;
    bottom: 25px;
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: 681px) {
  .Proposito-titulo {
    font-size: 2rem;
  }

  .Proposito-info p {
    font-size: 1rem;
  }

  .overlay {
    width: 90%;
    left: 30px;
    bottom: 30px;
    display: flex;
    flex-direction: row;
  }
  .overlay .Proposito-opcion,
  .overlay a {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .overlay {
    width: 90%;
    left: 25px;
    bottom: 30px;
    display: flex;
    flex-direction: row;
  }
  .overlay .Proposito-opcion,
  .overlay a {
    font-size: 11px;
  }
}

/* @media screen and (max-width: 655px) {
  .Proposito .overlay {
    position: absolute;
    bottom: 35px;
    left: 44%;
    width: 50%;
    padding: 15px;
    z-index: 10;
  }
  .overlay {
    width: 50% !important;
  }
}

@media screen and (max-width: 636px) {
  .Proposito .overlay {
    position: absolute;
    bottom: 50px;
    left: 44%;
    width: 50%;
    padding: 15px;
    z-index: 10;
  }
  .overlay {
    width: 50% !important;
  }
}
@media screen and (max-width: 525px) {
  .Proposito .overlay {
    position: absolute;
    bottom: 45px;
    left: 40%;
    width: 50%;
    padding: 15px;
    z-index: 10;
  }
  .overlay {
    width: 55% !important;
  }
}
@media screen and (max-width: 509px) {
  .Proposito .overlay {
    position: absolute;
    bottom: 50px;
    left: 40%;
    width: 50%;
    padding: 15px;
    z-index: 10;
  }
  .overlay {
    width: 55% !important;
  }
}

@media screen and (max-width: 394px) {
  .Proposito .overlay {
    position: absolute;
    bottom: 35px;
    left: 35%;
    width: 50%;
    padding: 15px;
    z-index: 10;
  }
  .overlay {
    width: 60% !important;
  }
}

@media screen and (max-width: 360px) {
  .Proposito .overlay {
    position: absolute;
    bottom: 40px;
    left: 25%;
    width: 50%;
    padding: 15px;
    z-index: 10;
  }
  .overlay {
    width: 70% !important;
  }
} */
